
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="row">
      <div class="col-xs-10">
        <hr>
        <p>
          Username: <%= current_user[:name] %>
        </p>
        <p>
          Email: <%= current_user[:email] %>
        </p>
        <p>
          Friends: <%= Facebook.get_object(current_user.token, '/me/movies?fields=name,picture,studio') %>
        </p>
        <hr>
        <span class="UserCard-logout">
          <%= link_to "Logout", destroy_user_session_url, method: :delete, class: 'btn btn-sm btn-fb' %>
        </span>
      </div>
    </div>
    <div class="row">
          <hr>
    </div>
  </div>
</div>
