<!DOCTYPE html>
<html>
  <head>
    <title>BlogFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <div id="fb-root"></div>
  <script async defer src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.2&appId=422863281855673&autoLogAppEvents=1"></script>

    <%= yield %>
  </body>
</html>
